<div>
	<div><span><i><%= t '.name' %></i></span><%= music_label.name %></div>
	<div><span><i><%= t '.distributor' %></i></span><%= music_label.distributor %></div>
	<div><span><i><%= t '.website' %></i></span><a href="<%= music_label.website %>"><%= music_label.website %></a></div>
</div>