<% if source_file.has_failures? %>
	<div class="alert alert-error">
		<%= t '.solve_alerts_desc', count: source_file.failures.size %>
	</div>

<% else %>

	<% case source_file.state_name %>
	<% when :loaded then %>
		<%= simple_form_for source_file, :url => prepare_administration_import_path, :html => { :class => "form-inline", style: 'text-align:center;', :novalidate => true } do |f| %>
			<%= render 'shared/error_messages', :object => source_file %>
			<%= f.button :submit, t('helpers.submit.import_source_file.prepare'), {:class => 'btn-primary'} %>
		<% end %>
	<% when :preparing_entries then %>
		<div class="well lead">
			<%= image_tag "ajax-loader.gif", style: "margin-right:10px;" %>
			<%= t '.work_in_progress' %>
		</div>
	<% end %>

<% end %>