<hr>
<%= simple_form_for source_file, :url => clear_failures_administration_import_path(source_file), :html => { :class => "form-inline", :novalidate => true }, :method => :delete do |f| %>
  <div class="button-pull-right">
    <%= f.button :submit, t('helpers.submit.import_source_file.clear_failures'), {:class => 'btn-danger'} %>
  </div>
  <h4><%= t '.title'%></h4>
  <br/>
  <p><%= t '.failures_list_help' %></p>
  <p><%= t '.failures_list_help2' %></p>
<% end %>

<br />

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th><%= t '.entry_id' %></th>
      <th><%= t '.source_id' %></th>
      <th><%= t '.description' %></th>
      <th><%= t '.happened_on' %></th>
    </tr>
  </thead>
  <tbody>
    <%= render 'failure', collection: source_file.failures.includes(:entry) %>
  </tbody>
</table>