<div class="page-header">
	<h2><%= source_file.name %><small><%= t '.title' %></small></h2>
	<br/>
	<div class="row-fluid content">
  	<div class="span2">
			<p><%= display_state source_file.state_name %></p>
			<strong><%= display_entries source_file.entries.size %></strong>
		</div>
		<div class="span10">
			<%= yield(:source_file_infos) %>
		</div>
	</div>
</div>