<% if source_file.new? %>
<div class='alert'>
	<p><%= t '.description1' %></p>
	<p><%= t '.description2' %></p>
</div>
<% else %>
	<div id="source_type_block">
		<p><%= t_attr_from_instance @source_file, :source_type %> : <strong><%= t_enum @source_file, :source_type, {default: t("defaults.none")} %></strong><br/>
			<% if @source_file.can_set_source_type? %>
				<%= link_to t('.change_source_type'), '#', id: "change_source_type" %>
			<% end %>
		</p>
	</div>
<% end %>


<% if source_file.can_set_source_type? %>
	<div id="source_type_form" style="display:<%= source_file.new? && 'block' || 'none' %>;">
		<%= simple_form_for @source_file, :url => administration_import_path, :html => { :class => "form-inline", :novalidate => true } do |f| %>

			<%= f.input :source_type, required: true, :collection => Import::SourceFile.source_types_for_select, prompt: t('.select_source_type'), input_html: {class: 'input-medium skipval'}, wrapper_html: {style: "display:inline-block;margin-right:10px;"}, label: false %>
		  	<%= load_file_button(f, @source_file) %>
		  	<% unless source_file.new? %>
		  		<%= link_to t('defaults.back_link'), '#', { :class => "btn", id: 'cancel_change_source_type' } %>
		  	<% end %>
		<% end %>
	</div>
<% end %>