<%= render 'header', source_file: @source_file %>

<p><%= t '.description1' %></p>
<p><%= t '.description2' %></p>

<br/><br/>

<%= simple_form_for @source_file, :url => administration_import_path, :html => { :class => "form-horizontal-large", :novalidate => true } do |f| %>
  <%= render 'shared/error_messages', :object => @source_file %>

	<%= f.input :source_type, required: true, :collection => Import::SourceFile.source_types_for_select, prompt: t('.select_source_type'), input_html: {class: 'input-xlarge skipval'} %>

  <div class="form-actions">
  	<%= load_file_button(f, @source_file) %>
    <%= link_to t('defaults.back_link'), :back, { :class => "btn" } %>
  </div>
<% end %>
