<h1><%= t '.title'%></h1>

<br />

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th><%= t '.name'%></th>
      <th><%= t_attr 'import/source_file', :source_type %></th>
      <th><%= t '.state'%></th>
      <th><%= t '.entries_count'%></th>
      <th><%= t '.added_on'%></th>
    </tr>
  </thead>
  <tbody>
    <%= render :partial => 'source_file', collection: @source_files %>
  </tbody>
</table>