<%= render 'header', source_file: @source_file %>

<%= hidden_field :source_file, :id %>
<%= hidden_field :source_file, :auto_refresh %>

<% unless @source_file.new? %>
	<div class="row-fluid">
		<div class="span5" style="padding-top:50px;">
			<%= render 'commands', source_file: @source_file %>
		</div>
		<div class="span6">
			<%= render 'progress', source_file: @source_file %>
		</div>
	</div>
<% end %>

<div id="failures-management">
	<% if @source_file.has_failures? %>
		<%= render 'failures', source_file: @source_file %>
	<% end %>
</div>