<div class="modal-header">
  <button class="close" data-dismiss="modal">×</button>
  <h3><%= t('.title') %></h3>
  <%= render 'shared/flashes' %>
	<% unless resource.errors[:base].empty? %>
		<%= content_tag(:div, resource.errors[:base].first, class: "alert alert-error") %>
	<% end %>
</div>

<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :defaults => { :label_html => { :class => 'span3' }, :placeholder => false}, remote: true) do |f| %>
	
	<div class="modal-body"  id="new_user_registration">
		  
		  <%= f.input :email, required: true, input_html: { class: 'span3', autofocus: 'true' } %>
		  <%= f.input :email_confirmation, :required => true, input_html: { class: 'span3', type: "email" } %>
		  <%= f.input :password, :required => true, :pattern => :lookup, input_html: { class: 'span3' } %>
		  <%= f.input :pseudo, :required => true, input_html: { class: 'span3' } %>
		  <%= f.input :gender, as: :radio_buttons, collection: User.genders_for_select, item_wrapper_class: 'inline' %>
		  <%= f.input :date_of_birth, start_year: Date.today.year - 100, end_year: Date.today.year - 12, use_short_month: true, input_html: { class: 'span1 inline' }, prompt: true %>

	</div>
	<div class="modal-footer">
		<%= recaptcha_tags ajax: true %>
		<%= render "links" %>
		<div class="btn-toolbar">
			<%= f.button :submit, :class => 'btn-primary' %>
		  <button class="btn btn-small" data-dismiss="modal"><%= t(:cancel) %></button>
    </div>
	</div>

<% end %>