<div class="modal-header">
  <button class="close" data-dismiss="modal">×</button>
  <h3><%= t('.title') %></h3>
  <% unless resource.errors.empty? %>
  	<%= content_tag(:div, t('global.info.errors'), class: "alert alert-info") %>
  	<% unless resource.errors[:base].empty? %>
  		<%= content_tag(:div, resource.errors[:base].first, class: "alert alert-error") %>
  	<% end %>
  <% end %>
</div>

<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :class => "form-horizontal" }, :defaults => { :label_html => { :class => 'span3', :'data-type' => 'js'}}, remote: true) do |f| %>
	
	<div class="modal-body">
		  
		  <%= f.input :email, required: true, input_html: { class: 'span3' } %>
		  <%= f.input :email_confirmation, :required => true, input_html: { class: 'span3' } %>
		  <%= f.input :password, :required => true, input_html: { class: 'span3' } %>
		  <%= f.input :pseudo, :required => true, input_html: { class: 'span3' } %>
		  <%= f.input :gender, as: :radio_buttons, collection: User.genders_for_select, item_wrapper_class: 'inline' %>
		  <%= f.input :date_of_birth, start_year: Date.today.year - 100, end_year: Date.today.year - 12, use_short_month: true, input_html: { class: 'span1 inline' }, prompt: true %>

	</div>
	<div class="modal-footer">
		<%= recaptcha_tags ajax: true %>
		<%= render "links" %>
	  <%= f.button :submit, :class => 'btn-primary' %>
	</div>

<% end %>