<div class="modal-header">
  <button class="close" data-dismiss="modal">×</button>
  <h3><%= t '.title' %></h3>
  <%= render 'shared/error_messages', :object => @artist %>
</div>

<%= simple_form_for @artist, remote: true, html: {class: "form-horizontal-large"} do |f| %>
	
	<div class="modal-body">
		<%= render 'form', f: f %>
	</div>
	
	<div class="modal-footer">
		<div class="btn-toolbar">
			<%= f.button :submit, :class => 'btn-primary' %>
		  <button class="btn btn-small" data-dismiss="modal"><%= t "helpers.cancel" %></button>
    </div>
	</div>

<% end %>