<tr>
  <td>
  	<%= gravatar_for user, size: 30 %>
  	<span><%= user.email %></span>
  </td>
  <td>
  	<%= form_for([:administration, user], remote: true, :method => :put , :format => :js) do |f| %>
  		<%= f.collection_select :role, User::ROLES, :to_s, :humanize, {}, {:class => 'submittable'} %>
  	<%end%>
  </td>
  <td>
  	<% if can? :destroy, user %>
  		<%= link_to "delete", administration_user_path(user), method: :delete, confirm: "Are you sure?" %>
  	<% end %>
	</td>
</tr>