<h2><%= t(".title") %></h2>

<div class="row centeredblock">
	<div class="span5 well">
		<p><%= t(".reset_password_expl") %></p>
		<%= simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :defaults => { :placeholder => false }) do |f| %>
		  <%= devise_error_messages! %>

		  <%= f.input :email, input_html: { class: 'span2', autofocus: 'true' } %>
		  <div class="align-right btn-toolbar">
		  	<%= f.button :submit, t(".reset_password"), :class => 'btn-primary' %>
		  </div>
		<% end %>
	</div>
</div>