<%= simple_form_for @album, :html => { :multipart => true, :class => "form-horizontal-short" } do |f| %>
  <%= render 'shared/error_messages', :object => @album %>

  <fieldset>
    <legend><%= t '.basic_information' %></legend>
    <div class="row-fluid content">
      <div class="span5 add-separator">
        <%= f.input :title, required: true %>
        <%= f.input :release_date, :as => :date_picker, required: true %>
        <%= f.input :kind, required: true, :collection => Album.kinds_for_select, prompt: t('.select_kind') %>
        
      </div>
      <div class="span6 well">
        <% if @album.cover? %>
          <div class="center"><%= image_tag @album.cover.url(:medium), :class => "portrait" %></div>
        <% end %>
        
        <%= f.input :cover, :hint => t('.upload_cover'), :wrapper_html => {:class => "fileinputs"}, input_html: {class: 'skipval'}, :wrapper => :file_field %>
      </div>
    </div>
  </fieldset>

  <fieldset>
    <legend><%= t '.label' %></legend>
    <%= render partial: "label_for_album", locals: {f: f} %>
  </fieldset>

  <fieldset>
    <legend><%= t '.artists' %></legend>
      <%= render :partial => "artists/artists_for_product", :locals => {:product => @album } %>
      <%= f.input :artists, :as => :hidden %>
  </fieldset>
  
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('defaults.back_link'), :back, { :class => "btn" } %>
  </div>
<% end %>
