<%= simple_form_for @album, :html => { :multipart => true, :class => "form-horizontal" } do |f| %>
  <%= render 'shared/error_messages', :object => @album %>
  <div class="row">
    <div class="span6">
      <fieldset>
        <legend>Album informations</legend>
        <%= f.input :title %>
        <%= f.input :release_date, :as => :date_picker %>
        <%= f.association :music_label, :prompt => "Choose a Label" %>
        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-target="#new_music_label">Create a new label</a>
          </div>
          <div id="new_music_label" class="accordion-body collapse" style="height: 0px; ">
            <div class="accordion-inner">
              <%= f.fields_for :music_label do |music_label_form| %>
                <%= render :partial => 'music_labels/form', :locals => {:f => music_label_form} %>
              <% end %>
            </div>
          </div>
        </div>
        <%= f.input :album_type, :collection => Album::ALBUMS_TYPES %>
      </fieldset>
    </div>
    
    <div class="span4">
      <fieldset>
        <legend>Cover</legend>
        
        <% if @album.cover? %>
          <div class="center"><%= image_tag @album.cover.url(:medium), :class => "portrait" %></div>
        <% end %>
        
        <%= f.input :cover, :label => "Upload cover", :wrapper_html => {:class => "well"} %>
      </fieldset>
    </div>
  </div>
  
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to 'Back', albums_path, { :class => "btn" } %>
  </div>
<% end %>
