<%= form_for @album, :html => { :multipart => true } do |f| %>
  <%= render 'shared/error_messages', :object => @album %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :release_date %><br />
    <%= f.date_select :release_date %>
  </div>
  <div class="field">
    <%= f.label :album_type %><br />
    <%= f.collection_select :album_type, Album::ALBUMS_TYPES, :to_s, :humanize, {}, {:class => 'span2'} %>
  </div>
  <div class="field">
    <%= f.file_field :cover %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
