<div class="row-fluid content">

<% if can? :create, MusicLabel %>

  <div class="span4">
    <ul class="nav nav-pills nav-stacked side-padded" id="label_for_album_pills">
      <li>
        <a href="#label_finder" data-toggle="pill" id="select_existing_label_pill"><%= t '.select_existing_label' %></a>
      </li>
      <li><a href="#label_form" data-toggle="pill" id="create_new_music_label_pill"><%= t '.create_label'%></a></li>
    </ul>
  </div>

  <div class="span7">
    <div class="tab-content">
      <div class="tab-pane" id="label_finder">

<% end %>

        <div><%= f.association :music_label, :prompt => t('.select_label'), input_html: {class: 'skipval'} %></div>
        <div class="side-padded"><div class="well" id="music_label_block">
          <%= render(partial: "music_labels/smallblock", :locals => {music_label: @album.music_label}) unless @album.music_label.nil? %>
        </div></div>

<% if can? :create, MusicLabel %>

      </div>

      <div class="tab-pane" id="label_form">
        <%= f.fields_for "new_music_label", @new_music_label do |presenter_fields| %>
          <%= presenter_fields.input :create_new, :as => :hidden %>
          <%= presenter_fields.fields_for "music_label", presenter_fields.object.music_label do |new_music_label_fields| %>
            <%= render :partial => 'music_labels/form', :locals => {:f => new_music_label_fields} %>
            <% end %>
        <% end %>
      </div>
    </div>
  </div>

<% end %>

</div>