<tr>
  <td>
  	<div class="media">
  		<%= link_to product, class: "pull-left media-object" do %>
				<%= image_tag product.cover.thumb.url %>
			<% end %>

			<div class="media-body">
				<%= link_to product do %>
					<h4 class="media-heading"><%= product.title %></h4>
				<% end %>
				<p>
					<%= artists_links_for(product) %>
				</p>
			</div>
		</div>

  </td>
</tr>