<h1><%= t '.title'%></h1>

<br />
<%= link_to t('.create_new_album'), new_album_path if can?(:create, Album) %>
<br />
<br />

<table class="table table-striped table-hover">
  <tbody>
    <%= render :partial => "line_block", :collection => @albums, :as => :product %>
  </tbody>
</table>
<% @albums.each do |album| %>
  <tr>
    <td><%= album.title %></td>
    <td><%= album.release_date %></td>
    <td><%= album.kind %></td>
    <td><%= link_to 'Show', album %></td>
    <td><%= link_to 'Edit', edit_album_path(album) %></td>
  </tr>
<% end %>
</table>

<br />

<%= will_paginate @albums %>
