<p>
  <span class="album-title">
  	<%= artists_links_for(@album) %>
  	<%= " / #{@album.title} (#{@album.release_date.year})" %>
  </span>
</p>

<div class="portrait"><%= image_tag @album.cover.thumb.url %></div>
<div>
	<div>
		<i><%= t ".label" %></i><%= @album.music_label.nil? ? "autoproduction" : @album.music_label.name %>
	</div>
	<div>
		<i><%= t ".release_date" %></i><%= l @album.release_date, :format => :long %>
	</div>
	<div>
		<i><%= t ".type" %></i><%= Album.human_enum_name(:kinds, @album.kind) %>
	</div>
</div>

<br style="clear: left" />
<p>Dernière modification par : <%= link_to @album.updater.pseudo, '#' %> le <%= l @album.updated_at , :format => :short%></p>

<%= link_to t('defaults.edit_link'), edit_album_path(@album) %> |
<%= link_to t('defaults.back_link'), albums_path %>