<p>
  <span class="album-title"><%= "#{@album.title} (#{@album.release_date.year})" %></span>
</p>

<div class="portrait"><%= image_tag @album.cover.url(:medium) %></div>
<div>
	<div>
		<i>Label : </i><%= @album.music_label.nil? ? "autoproduction" : @album.music_label.name %>
	</div>
	<div>
		<i>Sortie du Scud : </i><%= l @album.release_date, :format => :long %>
	</div>
	<div>
		<i>Type : </i><%= @album.kind %>
	</div>
</div>

<br style="clear: left" />
<p>Some text for Fun</p>

<%= link_to 'Edit', edit_album_path(@album) %> |
<%= link_to 'Back', albums_path %>