<tr data-contribution-id="<%= contribution.id %>">
  <td><%= translate_object_kind contribution.approvable_type %></td>
  <td><%= t_enum contribution, :event %></td>
  <td><%= contribution.owner_pseudo %></td>
  <td><%= l contribution.created_at, :format => :short %></td>
  <td>
  	<%= render_line_block_for contribution %>
  </td>
</tr>

