<h1><%= t '.title'%></h1>

<br />

<table class="table table-striped table-hover" id="contributions-table">
  <thead>
    <tr>
      <th><%= t '.object_kind'%></th>
      <th><%= t '.modification_type' %></th>
      <th><%= t '.modified_by'%></th>
      <th><%= t '.modified_on'%></th>
      <th style="width: 400px;"></th>
    </tr>
  </thead>
  <tbody>
    <%= render @contributions %>
  </tbody>
</table>

<br />

<%= will_paginate @contributions %>
