<div class='well' id='new-review-form'>

	<h3><%= t '.title' %></h3>

	<%= render 'shared/error_messages', :object => @review %>

	<%= simple_form_for @review, remote: true, html: {class: "form-horizontal"} do |f| %>

		<%= f.input :score, required: true, collection: 0..10, input_html: {:class => 'input-mini'} %>
		<%= f.input :body, :as => :text, input_html: {:class => 'input-xxlarge'} %>
		<%= f.input :reviewer, :as => :string, required: false, disabled: true, input_html: { value: current_user.pseudo, :class => 'input-medium' } %>

		<%= f.input :product_type, :as => :hidden %>
		<%= f.input :product_id, :as => :hidden %>

		<div class="btn-toolbar">
			<%= f.button :submit, :class => 'btn-primary' %>
		  <%= link_to t('helpers.cancel'), '', class: 'btn btn-small', id: 'cancel-form' %>
    </div>

	<% end %>
</div>
